* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.flexcontainer {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
}

.header {
    width: 100%;
    text-align: center;
}

.game {
    margin: 0 auto;
    width: 75%;
    display: flex;
    background-color: pink;
    flex: 1;
}

.movie-title {
    margin: 0 auto;
    width:75%;
    background-color: green;
    height: 50px;
}
.movie-screen {
    width: 50%;
    background-color: red;
    border: dotted black 3px;
}

.hangman-screen {
    width: 50%;
    text-align: center;
    background-color: blue;
    border: dotted black 3px;
}

#my-word li {
    display: inline-block;
    margin: 5px;
}