* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.flexcontainer {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
}

.header {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    width: 75%;
    text-align: center;
    font-size: 100px;
    padding: 15px;
    margin: 0 auto;
}

.game {
    margin: 0 auto;
    width: 75%;
    display: flex;
    background-color:black;
    flex: 1;
    color: white;
}

.movie-title {
    margin: 0 auto;
    width:75%;
    height: 50px;
}
.movie-screen {
    width: 50%;
    border: dotted white 3px;
}

.hangman-screen {
    width: 50%;
    text-align: center;
    border: dotted white 3px;
}

#my-word li {
    display: inline-block;
    margin: 5px;
}

p {
    padding: 10px;
    font-size: 30px;
}

#instruction{
    padding: 5px;
    font-size: 42px;
    margin-top: 20px;
}

#word {
    margin: 30px;
    font-size: 42px;
}

#movielogo {
    margin: 0  auto;
    margin-top: 50px;
    /*background-color: white;*/
    width: 600px;
    height: 600px;
}

img {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../images/theaterbackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 